body { 
    margin: 0;
    
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    
    background-color: #000;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/* Container
===================*/
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
   }

/* Header
===================*/

.header{
    
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    border-bottom: 1px solid #515369;
}

/*Nav
================*/

.nav{
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav_link {
    color: #fff;
    text-decoration: none;
}

.nav link:hover {
    text-decoration: underline;
}